themes/preset/rngs/manipulate.rng

<element xmlns="http://relaxng.org/ns/structure/1.0" xmlns:rngui="http://rngui.org" rngui:version="1.2" name="manipulate" rngui:label="Script" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes" ns="http://cpee.org/ns/description/1.0">
  <attribute name="id" rngui:label="ID" rngui:default="javascript:get_free_id()">
    <data type="string" rngui:readonly="true"/>
  </attribute>
  <attribute name="label" rngui:label="Label">
    <data type="string" rngui:label="Short description of the task"/>
  </attribute>
  <attribute name="color" rngui:label="Task Color">
    <choice rngui:type='color'>
      <value>#ffffff</value>
      <value>#d4e1f1</value>
      <value>#d8f0dd</value>
      <value>#ffffcc</value>
      <value>#f2d8b8</value>
      <value>#eeb3ac</value>
      <value>#e4c3e4</value>
      <value>#ded0c5</value>
      <value>#bcbbbd</value>
    </choice>
  </attribute>
  <text rngui:label="Script that is executed"/>
</element>
